.text1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-right: 30px;
}

.title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15%;
}
body{
  font-family: "Montserrat";
}
.navbar{
  padding-bottom: 5rem;
}
.navbar-brand{
  font-family: "Ubuntu";

  font-weight: bold;
  font-size: 3rem;
}

.nav-item {
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
.download-button{
  margin:  5% 3% 3% 0;
  }
  .title-image{
    width: 65%;
    transform: rotate(20deg);
    position: relative;
    left: 9%;
    top: 9%;
  }
  #features{
    padding: 10% 15%;
    background-color: white;
    position: relative;

  }

  .icon{
    font-size: 4rem;
    color: #ef8172;
    margin-bottom: 25px;
  }
  .icon:hover{
    color: #ff4c68;
  }
  p{
    font-family: "Montserrat-Light";
    font-size: 1.3rem;
    color: #8f8f8f;
  }
  .feature-box{
    text-align: center;
  }
  #testimonials{
    background-color: #ef8172;
    text-align: center;
    color: #fff;
  }
  .testimonial-image{
    width:10%;
    border-radius: 100%;
    margin: 15px 0 0;
  }
  h2{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 2rem;
  }
  #press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 10px;
  }
  .press-image{
    width:20%;
    padding: 0 50px 75px;;

  }

  .carousel-item{
    padding: 7% 15%;
  }
  h3
{
  font-family: sans-serif;
  font-weight: bold;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 2% 3%;
}
@media (max-width: 1028px)
{
  #title{
    text-align: center;
  }
    .title-image{
      position: static;
      transform: rotate(0);

  }
}
#cta {
    background-color: #ff4c68;
    text-align: center;
    color: white;
    padding: 7% 15%;
    font-family: "'Montserrat-light'";
    line-height: 2em;
}
.cta-heading{
  font-style: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}
#footer{
  text-align: center;
  padding: 5% 11%;
}
.logo-footer{
  margin: 10px 5px;
}
